LEMMA_ADMIN_APP_TITLE=Lemma Admin
LEMMA_ADMIN_APP_URL=http://localhost:3003
LEMMA_ADMIN_API_URL=http://localhost:3001
LEMMA_ADMIN_OIDC_ISSUER_URI=http://localhost:8001/realms/lemma
LEMMA_ADMIN_OIDC_CLIENT_ID=lemma-admin
